.menu-outer {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.root-menu-inner {
    padding: 5px 10px;
    background-color: #fff;
    margin: 0px 20px 10px 20px;
    border-radius: 0px 0px 7px 7px;
    border-bottom: 1px solid #d8dee4;
}

.category-menu-inner {
    padding: 5px 10px;
    background-color: #fff;
    margin: 0px 20px 10px 20px;
    border-radius: 0px 0px 7px 7px;
    border-bottom: 1px solid #d8dee4;
}

.title-menu-inner {
    padding: 15px 10px 10px 0px;
    background-color: #fff;
    border-right: 1px solid #d8dee4
}


.paragraph-menu-inner {
    padding: 15px 10px 10px 0px;
    background-color: #fff;
    border-right: 1px solid #d8dee4;
/*
    position: absolute;
    top: 10px;
    right: 10px;

 */
}

.code-menu-inner {
    padding: 5px 10px;
    background-color: #fff;
    margin: 0px 20px 10px 20px;
    border-radius: 0px 0px 7px 7px;
    border-bottom: 1px solid #d8dee4;
}


.active_menu {
    -webkit-transition: max-height 0.7s EASE;
    -moz-transition: max-height 0.7s EASE;
    transition: max-height 0.7s EASE;
    max-height: 400px;
}

.not_active_menu {
    max-height: 0px;
    -webkit-transition: max-height 0.15s EASE-OUT;
    -moz-transition: max-height 0.15s EASE-OUT;
    transition: max-height 0.15s EASE-OUT;
}

.menu-button-text {
    padding: 0px 7px;
}

.menu-button {
    border-radius: 3px;
    margin: 2px 2px;
}

.menu-title {
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.5px;
    width: 200px;
}
