.flex {
    display: flex;
}

.flex-grow {
    display: flex;
    flex: 1;
}

.rows {
    display: flex;
    flex-direction: row;
}

.rows-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.columns {
    display: flex;
    flex-direction: column;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertically-centered {
    display: flex;
    align-items: center;
}
