
<div class="search-header rows">
    <div class="centered bread-crumbs-button pointer" (click)="goToParentUUID('')">HOME</div>
</div>

<div class="search-content rows">

    <div class="sidebar fixed search-sidebar">
        <div class="sidebar-inner">
            <div class="sidebar-content">

                <!-- ВИБІР ТИПУ ДОПИСУ: --->
                <div class="rows stage" style="margin: 8px 0px 17px 0px;">
                    <div class="vertically-centered stage-left" style="margin: 0px 12px;">
                        Тип допису:
                    </div>
                    <div class="flex-grow stage-right">
                        <select [(ngModel)]="SearchService.searchParam.type" (change)="SearchService.typeChange()">
                            <option [value]="'all'" [selected]="SearchService.searchParam.type == 'all'">Будь-який тип</option>
                            <option [value]="'category'" [selected]="SearchService.searchParam.type == 'category'">Категорія</option>
                            <option [value]="'title'" [selected]="SearchService.searchParam.type == 'title'">Титул</option>
                            <option [value]="'paragraph'" [selected]="SearchService.searchParam.type == 'paragraph'">Параграф</option>
                            <option [value]="'code'" [selected]="SearchService.searchParam.type == 'code'">Код</option>
                            <option [value]="'file'" [selected]="SearchService.searchParam.type == 'file'">Файл</option>
                        </select>
                    </div>
                </div>
                <!-- /ВИБІР ТИПУ ДОПИСУ --->

                <!-- Пошук у титулі: --->
                <ng-container *ngIf="SearchService.visibleInputs[SearchService.searchParam.type].includes('title')">
                    <div class="rows stage" style="margin: 8px 0px 17px 0px;">
                        <div class="vertically-centered stage-left" style="margin: 0px 12px;">
                            Титул:
                        </div>
                        <div class="flex-grow stage-right">
                            <input type="text" class="input_text" maxlength="100" [(ngModel)]="SearchService.searchParam.title" (keyup)="SearchService.getResults()">
                        </div>
                    </div>
                </ng-container>
                <!-- /Пошук у титулі --->

                <!-- Пошук у описі: --->
                <ng-container *ngIf="SearchService.visibleInputs[SearchService.searchParam.type].includes('description')">
                    <div class="rows stage" style="margin: 8px 0px 17px 0px;">
                        <div class="vertically-centered stage-left" style="margin: 0px 12px;">
                            Опис:
                        </div>
                        <div class="flex-grow stage-right">
                            <input type="text" class="input_text" maxlength="100" [(ngModel)]="SearchService.searchParam.description" (keyup)="SearchService.getResults()">
                        </div>
                    </div>
                </ng-container>
                <!-- /Пошук у описі --->

                <!-- Пошук у attachment: --->
                <ng-container *ngIf="SearchService.visibleInputs[SearchService.searchParam.type].includes('attachment')">
                    <div class="rows stage" style="margin: 8px 0px 17px 0px;">
                        <div class="vertically-centered stage-left" style="margin: 0px 12px;">
                            Вміст:
                        </div>
                        <div class="flex-grow stage-right">
                            <select [(ngModel)]="SearchService.attachment" (change)="SearchService.attachmentChange()">
                                <option [value]="''">Будь-який</option>
                                <option [value]="'has_codes'">З кодами</option>
                                <option [value]="'has_files'">З файлами</option>
                            </select>
                        </div>
                    </div>
                </ng-container>
                <!-- /Пошук у attachment --->


                <!-- Пошук у src: --->
                <ng-container *ngIf="SearchService.visibleInputs[SearchService.searchParam.type].includes('src')">
                    <div class="rows stage" style="margin: 8px 0px 17px 0px;">
                        <div class="vertically-centered stage-left" style="margin: 0px 12px;">
                            src:
                        </div>
                        <div class="flex-grow stage-right">
                            <input type="text" class="input_text" maxlength="100" [(ngModel)]="SearchService.searchParam.src" (keyup)="SearchService.getResults()">
                        </div>
                    </div>
                </ng-container>
                <!-- /Пошук у src --->

                <!-- Пошук у lang: --->
                <ng-container *ngIf="SearchService.visibleInputs[SearchService.searchParam.type].includes('lang')">
                    <div class="rows stage" style="margin: 8px 0px 17px 0px;">
                        <div class="vertically-centered stage-left" style="margin: 0px 12px;">
                            Мова:
                        </div>
                        <div class="flex-grow stage-right">
                            <select [(ngModel)]="SearchService.lang" (change)="SearchService.langChange()">
                                <option [value]="'any'">Будь-яка</option>
                                <option [value]="'php'">php</option>
                                <option [value]="'js'">js</option>
                                <option [value]="'css'">css</option>
                                <option [value]="'html'">html</option>
                                <option [value]="'typescript'">typescript</option>
                                <option [value]="'bash'">bash</option>
                                <option [value]="'xml'">xml</option>
                                <option [value]="'sql'">sql</option>
                                <option [value]="'go'">go</option>
                            </select>
                        </div>
                    </div>
                </ng-container>
                <!-- /Пошук у lang --->

                <!-- Пошук у тегах: --->
                <ng-container *ngIf="SearchService.visibleInputs[SearchService.searchParam.type].includes('tags')">
                    <div class="rows stage" style="margin: 8px 0px 17px 0px;">
                        <div class="vertically-centered stage-left" style="margin: 0px 12px;">
                            Теги:
                        </div>
                        <div class="flex-grow stage-right">
                            <input type="text" class="input_text" maxlength="100" [(ngModel)]="SearchService.tagsString" (keyup)="SearchService.tagsChange()">
                            через кому ("то" і "то)
                        </div>
                    </div>
                </ng-container>
                <!-- /Пошук у тегах --->




                <!-- СОРТУВАННЯ --->
                <div class="rows stage" style="margin: 8px 0px 17px 0px; border-top: 1px solid #b0b0b0; padding-top: 5px;">
                    <div class="vertically-centered stage-left" style="margin: 0px 12px;">
                        Сортувати за:
                    </div>
                    <div class="flex-grow stage-right">
                        <select [(ngModel)]="SearchService.searchParam.order_by" (change)="SearchService.getResults()">
                            <option [value]="'created_at'" [selected]="SearchService.searchParam.order_by == 'created_at'">created_at</option>
                            <option [value]="'updated_at'" [selected]="SearchService.searchParam.order_by == 'updated_at'">updated_at</option>
                        </select>
                    </div>
                </div>

                <div class="rows stage" style="margin: 8px 0px 17px 0px;">
                    <div class="vertically-centered stage-left" style="margin: 0px 12px;">
                        Сортувати за:
                    </div>
                    <div class="flex-grow stage-right">
                        <select [(ngModel)]="SearchService.searchParam.sort" (change)="SearchService.getResults()">
                            <option [value]="'desc'" [selected]="SearchService.searchParam.sort == 'desc'">desc</option>
                            <option [value]="'asc'" [selected]="SearchService.searchParam.sort == 'asc'">asc</option>
                        </select>
                    </div>
                </div>

                <!-- /СОРТУВАННЯ --->





            </div>
        </div>
    </div>

    <div class="search-results flex-grow">
        <div class="columns flex-grow">
            <div class="navigation rows">
                <div class="next-prev pointer" (click)="SearchService.prevPage()">PREV</div>
                <div class="next-prev pointer" (click)="SearchService.nextPage()">NEXT</div>
                <div class="">offset: {{SearchService.searchParam.offset}} | limit: {{SearchService.searchParam.limit}}</div>
            </div>

            <div class="items columns flex-grow" style="padding: 10px 5px; ">
                <div class="result" *ngFor="let item of SearchService.results">

                    <!-- Типи дописів: -->
                    <ng-container *ngIf="item.type == 'category'">
                        <ng-container *ngTemplateOutlet="CategoryTemplate; context:{ $implicit: item }"></ng-container>
                    </ng-container>

                    <ng-container *ngIf="item.type == 'title'">
                        <ng-container *ngTemplateOutlet="TitleTemplate; context:{ $implicit: item }"></ng-container>
                    </ng-container>

                    <ng-container *ngIf="item.type == 'paragraph'">
                        <ng-container *ngTemplateOutlet="ParagraphTemplate; context:{ $implicit: item }"></ng-container>
                    </ng-container>

                    <ng-container *ngIf="item.type == 'code'">
                        <ng-container *ngTemplateOutlet="SingleCodeTemplate; context:{ $implicit: item }"></ng-container>
                    </ng-container>

                    <!-- / Типи дописів -->





                </div>
            </div>

        </div>


    </div>
</div>

<div class="search-footer">search-footer</div>



<!----------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
   ШАБЛОН КАТЕГОРІЇ
-->
<ng-template #CategoryTemplate let-item>

    <div class="columns">
        <ng-container *ngTemplateOutlet="itemBreadCrumbs; context:{ $implicit: item }"></ng-container>
        <div class="result-content">
            <div class="vertically-centered rows pointer" (click)="goToParentUUID(item.uuid)">
                <div [innerHTML]="ItemService.IconService.icons.category.svg | safeHtml" class="centered" style="margin-right: 5px;" *ngIf="!item.tags.includes('last')"></div>
                <div [innerHTML]="ItemService.IconService.icons.list.svg | safeHtml" class="centered" style="margin-right: 5px;" *ngIf="item.tags.includes('last')"></div>
                <div class="link">{{item.title}}</div>
            </div>
        </div>
    </div>

</ng-template>
<!--
   / ШАБЛОН КАТЕГОРІЇ
------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------->



<!----------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
   ШАБЛОН ТИТУЛУ
-->
<ng-template #TitleTemplate let-item>

    <div class="columns">
        <ng-container *ngTemplateOutlet="itemBreadCrumbs; context:{ $implicit: item }"></ng-container>
        <div class="result-content">
            {{item.title}}
        </div>
        <ng-container *ngTemplateOutlet="itemFooter; context:{ $implicit: item }"></ng-container>
    </div>

</ng-template>
<!--
   / ШАБЛОН ТИТУЛУ
------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------->




<!----------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
   ШАБЛОН ПАРАГРАФУ
-->
<ng-template #ParagraphTemplate let-item>


    <div class="columns">
        <ng-container *ngTemplateOutlet="itemBreadCrumbs; context:{ $implicit: item }"></ng-container>
        <div class="result-content">
            <div class="flex-grow paragraph-content">
                <div [innerHTML]="item.text | safeHtml" class="" *ngIf="item.text != null"></div>
                <div *ngIf="item.text == null"></div>
                <div *ngIf="item.text == ''"></div>
            </div>

            <!-- Дочірні коди: -->
            <ng-container *ngIf="item.tags.includes('has_codes')">

                <!-- Таби кодів: -->
                <div class="rows code-tabs-outer">
                    <ng-container *ngIf="item.children.length > 0">
                        <ng-container *ngFor="let child of item.children">
                            <div class="rows code-tab pointer"
                                 (click)="ItemService.MenuService.activateCodeTab(item.uuid, child.uuid)"
                                 [class.active-code-tab]="ItemService.MenuService.codeTabs[item.uuid] == child.uuid &&
                            ItemService.MenuService.creating.parent_uuid != item.uuid"
                            >
                                <ng-container *ngIf="child.title == null">{{child.order_index}}</ng-container>
                                <ng-container *ngIf="child.title != null">{{textEllipsis(child.title, 30)}}</ng-container>

                            </div>
                        </ng-container>
                    </ng-container>

                </div>
                <!-- /Таби кодів -->


                <!-- Відображення дочірніх кодів: -->
                <ng-container *ngIf="item.children.length > 0">
                    <ng-container *ngFor="let child of item.children">
                        <ng-container *ngTemplateOutlet="CodeTemplate; context:{ $implicit:child }"></ng-container>
                    </ng-container>
                </ng-container>
                <!-- /Відображення дочірніх кодів -->
            </ng-container>

            <ng-container *ngIf="item.tags.includes('has_files')">
                has_files
            </ng-container>


        </div>

        <ng-container *ngTemplateOutlet="itemFooter; context:{ $implicit: item }"></ng-container>
    </div>

</ng-template>
<!--
   / ШАБЛОН ПАРАГРАФУ
------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------->




<!----------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
   ШАБЛОН КОДУ
-->
<ng-template #SingleCodeTemplate let-item>

    <div class="columns">
        <ng-container *ngTemplateOutlet="itemBreadCrumbs; context:{ $implicit: item }"></ng-container>


        <div class="result-content">

            <!-- Таби кодів: -->
            <div class="rows code-tabs-outer">
                <div class="rows code-tab">
                    <ng-container *ngIf="item.title == null">{{item.order_index}}</ng-container>
                    <ng-container *ngIf="item.title != null">{{item.title}}</ng-container>

                </div>
            </div>
            <!-- /Таби кодів -->

            <div class="code-outer">
                <code
                      [highlight]="item.text"
                      [lineNumbers]="true"
                      [languages]="[ItemService.codeLanguages.includes(item.src) ? item.src : 'php']"
                ></code>
                <div class="code-lang">{{item.src}}</div>
            </div>

            <div class="space-between code-footer" style="background: #001d24; border-radius: 0px 0px 5px 5px;">

                <div class="rows pointer" (click)="copyToClipboard(item.text)"
                     style="padding: 2px 10px;"
                >
                    <div class="centered" [innerHTML]="ItemService.IconService.icons.copy.svg | safeHtml"></div>
                    <div class="centered" style="padding: 7px 2px;">Копіювати</div>
                </div>

                <div class="rows centered">
                    <div *ngFor="let tag of item.tags" class="code-tag-in-footer pointer" (click)="searchCodeByTag(tag)">
                        {{tag}}
                    </div>
                </div>

                <div class="rows centered"></div>

            </div>


        </div>
        <ng-container *ngTemplateOutlet="itemFooter; context:{ $implicit: item }"></ng-container>
    </div>

</ng-template>
<!--
   / ШАБЛОН КОДУ
------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------->

<ng-template #itemBreadCrumbs let-item>
    <div class="rows bread-crumbs-outer">
        <ng-container *ngFor="let breadItem of item.bread_crumbs; let isLast = last;">


            <!-- Типи дописів: -->
            <ng-container *ngIf="breadItem.type == 'category'">
                <div class="bread-item pointer" (click)="goToParentUUID(breadItem.uuid)">
                    <span class="link">{{breadItem.title}}</span>
                </div>

            </ng-container>

            <ng-container *ngIf="breadItem.type == 'title'">
                <div class="bread-item">{{breadItem.title}}
                </div>
            </ng-container>

            <ng-container *ngIf="breadItem.type == 'paragraph'">
                <div class="bread-item">p</div>
            </ng-container>

            <div class="bread-item pointer">
                <ng-container *ngIf="!isLast"> — </ng-container>
            </div>

        </ng-container>
    </div>
</ng-template>

<ng-template #itemFooter let-item>
    <ng-container *ngIf="item.parent_category != null">
        <div class="pointer item-footer redirect-to-item" (click)="goToParentUUID(item.parent_category.uuid)">перейти</div>
    </ng-container>

</ng-template>






<!--
........................................................................................................................
........................................................................................................................
........................................................................................................................
........................................................................................................................
........................................................................................................................
........................................................................................................................
........................................................................................................................
--->
<!----------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
   ШАБЛОН КОДІВ
-->

<ng-template #CodeTemplate let-item let-indent="indent">

    <ng-container *ngIf="ItemService.MenuService.codeTabs.hasOwnProperty(item.parent_uuid)">
        <ng-container *ngIf="ItemService.MenuService.codeTabs[item.parent_uuid] == item.uuid">

            <div class="columns" style="padding: 0px 0px; border-right: 1px solid #d8dee4;">
                <div class="code-outer">
                    <code #codeElement
                          [highlight]="item.text"
                          [lineNumbers]="true"
                          [languages]="[ItemService.codeLanguages.includes(item.src) ? item.src : 'php']"
                    ></code>

                    <div class="code-lang">{{item.src}}</div>
                </div>

                <div class="space-between code-footer" style="background: #001d24; border-radius: 0px 0px 5px 5px;">

                    <div class="rows pointer" (click)="copyToClipboard(item.text)"
                         style="padding: 2px 10px;"
                    >
                        <div class="centered" [innerHTML]="ItemService.IconService.icons.copy.svg | safeHtml"></div>
                        <div class="centered" style="padding: 7px 2px;">Копіювати</div>
                    </div>

                    <div class="rows centered">
                        <div *ngFor="let tag of item.tags" class="code-tag-in-footer pointer" (click)="searchCodeByTag(tag)">
                            {{tag}}
                        </div>
                    </div>

                    <div class="rows centered">
                    </div>

                </div>
            </div>

        </ng-container>
    </ng-container>


</ng-template>
<!--
   / ШАБЛОН КОДІВ
------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------->
