.search-header {
    background: #222;
    color: #fff;
    font-size: 13px;
    letter-spacing: -0.21px;
    border-bottom: 4px solid #36b355;
    padding: 4px 0px 4px 5px;
}


.search-content {

}

.search-sidebar {

}


.form-title {
    font-family: OpenSans-Bold;
    font-size: 12px;
}


.search-results {
    background: #ebebeb;
}

.search-footer {
    background: #f2f2f5;
}

/*
    ----> SIDEBAR:
    Оці стилі треба копіювати для двохколоночного виду:
*/
::-webkit-scrollbar { width: 14px; }
::-webkit-scrollbar-track { -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset; }
::-webkit-scrollbar-thumb { background: #9171dc; }
.outer { display: flex; height: 100%; width: calc(100vw - 14px); /* 14px це ширина скролбара */ }
.inner { display: flex; flex-grow: 1; }
.content { display: flex; flex-direction: column; flex: 1; }

.sidebar { display: flex; flex-direction: column; justify-content: space-between; border-left: 1px solid #d8dee4; }
.sidebar-inner { display: flex; flex-direction: column;  }
.fixed {
    flex: 0 0 220px; height: calc(100vh - 37px);
    overflow-y: auto; overflow-x: hidden; position: sticky;
    top: 0; transition: flex .2s ease-out;
}

@media (max-width:961px)
{
    .fixed { flex: 0 0 40px; }
    .sidebar-inner { display: none; }
}

.sidebar-left { flex-direction: row-reverse; }
.sidebar-right { flex-direction: row; }
/*
    <- оці стилі
    <---- SIDEBAR
*/

.result {
    background-color: #fff;
    border-radius: 13px 13px 0px 0px;
    margin: 10px 20px 20px 20px;
}

.result-content {
    padding: 10px;
    border-left: 1px solid #dadee3;
    border-right: 1px solid #dadee3;
}

.bread-crumbs-button {
    background: #115400;
    padding: 5px 10px;
    margin: 0px 3px 0px 2px;
    border-radius: 3px;
}

.bread-crumbs-outer {
    background-color: #f6f8fa;
    border: 1px solid #dadee3;
    border-radius: 13px 13px 0px 0px;
    padding: 0px 7px;
    font-family: OpenSans-Bold;
    font-size: 12px;
}


.bread-item {
    padding: 10px 4px;
}

.item-footer {
    background-color: #f3f3f3;
    border-top: 1px solid #dadee3;
    border-bottom: 1px solid #dadee3;
    border-left: 1px solid #dadee3;
    border-right: 1px solid #dadee3;
    color: #222;
    padding: 7px 15px;
    text-align: right;
}

.item-footer:hover {
    background-color: #d6edfd;
    border-top: 1px solid #c9e7ff;
    border-bottom: 1px solid #c9e7ff;
    border-left: 1px solid #c9e7ff;
    border-right: 1px solid #c9e7ff;

}

.next-prev {
    margin: 2px 4px;
    padding: 4px 15px;
    background-color: #0e9a00;
    color: #fff;
}

.paragraph-content {
    background-color: #fff;
    padding: 3px 20px 0px 0px;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    letter-spacing: -.21px;
    line-height: 150%;
}

.codes-outer {
    border-right: 1px solid #dadee3;
    padding: 3px 20px;
    background-color: blanchedalmond;
}


.code-outer {
    /* overflow-y: scroll;*/
    overflow-x:hidden;
    max-height: 450px;
    position: relative;
}

.code-outer::-webkit-scrollbar {
    width: 14px;
    background: #002b36;
}

.code-outer::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
}

.code-outer::-webkit-scrollbar-thumb {
    background: #045164;
}


.code-lang {
    top: 8px;
    right: 10px;
    position: absolute;
    background-color: #045164;
    color: #8bb7b7;
    padding: 3px 16px;
    border-radius: 3px;
}

/* Підсвітка коду: */

.hljs {
    white-space: break-spaces;
    padding: 5px;
    border-bottom: 1px solid #154754;

    display: block;
    overflow-x: auto;
    padding: 1em;
    line-height: 130%;
    background: #23241f;
    color: #f8f8f2;
    min-height: 13px;
}

.hljs{
    display: block;
    overflow-x: auto;
    padding: 1em;
    line-height: 130%;
    tab-size: 4;
}



code.hljs{padding: 0.9em }
.hljs{color:#93a1a1;background:#002b36}
.hljs ::selection,.hljs::selection{background-color:#586e75;color:#93a1a1}
.hljs-comment{color:#657b83}.hljs-tag{color:#839496}
.hljs-operator,.hljs-punctuation,.hljs-subst{color:#93a1a1}
.hljs-operator{opacity:.7}.hljs-bullet,.hljs-deletion,.hljs-name,.hljs-selector-tag,.hljs-template-variable,.hljs-variable{color:#dc322f}
.hljs-attr,.hljs-link,.hljs-literal,.hljs-number,.hljs-symbol,.hljs-variable.constant_{color:#cb4b16}
.hljs-class .hljs-title,.hljs-title,.hljs-title.class_{color:#b58900}
.hljs-strong{font-weight:700;color:#b58900}
.hljs-addition,.hljs-code,.hljs-string,.hljs-title.class_.inherited__{color:#859900}
.hljs-built_in,.hljs-doctag,.hljs-keyword.hljs-atrule,.hljs-quote,.hljs-regexp{color:#2aa198}
.hljs-attribute,.hljs-function .hljs-title,.hljs-section,.hljs-title.function_,.ruby .hljs-property{color:#268bd2}
.diff .hljs-meta,.hljs-keyword,.hljs-template-tag,.hljs-type{color:#6c71c4}.hljs-emphasis{color:#6c71c4;font-style:italic}
.hljs-meta,.hljs-meta .hljs-keyword,.hljs-meta .hljs-string{color:#d33682}
.hljs-meta .hljs-keyword,.hljs-meta-keyword{font-weight:700}

.code-footer {
    color: #93a1a1;
    background: #002b36;
}

.code-tag-in-footer {
    margin: 0px 4px;
    padding: 4px 13px;
    border-radius: 4px;
    border: 1px solid #154754;
    background: #002b36;
}

.code-tabs-outer {
    padding: 0px 0px;
    border-right: 1px solid #d8dee4;
}

.code-tab {
    background-color: #002b3614;
    border-top: 3px solid #e5e5e5;
    margin: 0px 0px;
    padding: 6px 12px;
}

.code-tab:hover {
    border-top: 3px solid #fc1010;
}

.active-code-tab {
    border-top: 3px solid #21b43a;
    background-color: #002b361f;
    font-weight: bold;
}
